flows.json
[{"id":"c140e225.ec0fe8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9e61a764.d8c89","type":"ui_form","z":"c140e225.ec0fe8","name":"","label":"","group":"8d07df1f.334ae","order":2,"width":0,"height":0,"options":[{"label":"Enter Your Input ","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":260,"wires":[["ec890f71.f25868"]],"icon":"node-red/comment.svg"},{"id":"ec890f71.f25868","type":"function","z":"c140e225.ec0fe8","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["6ec68885.3189f","81327480.0fcef"]]},{"id":"6ec68885.3189f","type":"ui_text","z":"c140e225.ec0fe8","group":"8d07df1f.334ae","order":1,"width":"2","height":"2","name":"","label":"input","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":340,"wires":[]},{"id":"81327480.0fcef","type":"watson-conversation-v1","z":"c140e225.ec0fe8","name":"Assistant","workspaceid":"1aa7f81d-87d6-4140-b109-dec541f436ae","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/3aa457ea-85b2-4b82-a749-07639935a7d9","timeout":"","optout-learning":false,"x":360,"y":100,"wires":[["d149f60a.e51378","a06d2616.7dcd3"]]},{"id":"d149f60a.e51378","type":"function","z":"c140e225.ec0fe8","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["7c295eae.dfa118"]]},{"id":"a06d2616.7dcd3","type":"debug","z":"c140e225.ec0fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":80,"wires":[]},{"id":"7c295eae.dfa118","type":"ui_text","z":"c140e225.ec0fe8","group":"61d95ca7.d97fac","order":3,"width":"15","height":"6","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":320,"wires":[]},{"id":"8d07df1f.334ae","type":"ui_group","z":"","name":"CHAT BOT","tab":"a5fffbc0.3bc48","order":1,"disp":true,"width":"6","collapse":false},{"id":"61d95ca7.d97fac","type":"ui_group","z":"","name":"SOLUTION","tab":"a5fffbc0.3bc48","order":2,"disp":true,"width":"15","collapse":false},{"id":"a5fffbc0.3bc48","type":"ui_tab","z":"","name":"CUSTOMER HELP DESK","icon":"dashboard","disabled":false,"hidden":false}]